
.main-db{
   display: flex;
   flex-direction: row;
}
.main-sb{
    width:18%;
}
.main-bdy{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.db-body{
    margin-top: 100px;
    
    display: flex;
    flex-direction: row;
   
  
   justify-content: center;
   align-content: space-between;
   
}
.db-table{
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    width:90%;
    border-radius: 10px;
}
.db-table h3{
    margin: 10px;
}
.db-bg{
    
    background-color: white;
   
   border-radius: 10px;
}
.db-bg:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 5px hsl(0, 0%, 46%);
  }